body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}

.innerbody{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}
#mybutton{
    display: flex;
    justify-content: center;
}
